APP_NAME=go-gin-clean
GOLANG_PORT=8888
JWT_SECRET=change_me

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=password
DB_NAME=postgres
DB_SSLMODE=disable

MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=go_gin_clean
